STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
POSTGRES_URL=
MEDUSA_BACKEND_URL=http://localhost:9000 #Necessary for server-side Medusa config
VITE_MEDUSA_BACKEND_URL=http://localhost:9000 #Necessary for Admin UI
PORT=9000

# Algolia
ALGOLIA_APP_ID=your-algolia-app-id
ALGOLIA_API_KEY=your-algolia-admin-api-key # Important: This is the Admin API Key, not the Search API Key
ALGOLIA_PRODUCT_INDEX_NAME=your-product-index-name

# medusa-plugin-shopify env
SHOPIFY_BASE_URL=

# Loyalty System
# Conversion rate refers to the denominator for converting amounts to points 
# (e.g. if conversionRate = 10 then points = purchaseAmount / conversionRate, or 1 point per 10 units of currency)
LOYALTY_CONVERSION_RATE=10
MEDUSA_STORE_CORS=http://localhost:8000,https://docs.medusajs.com
MEDUSA_ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
MEDUSA_AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
MEDUSA_REDIS_URL=redis://localhost:6379
MEDUSA_JWT_SECRET=supersecret
MEDUSA_COOKIE_SECRET=supersecret
MEDUSA_DATABASE_URL=
MEDUSA_DB_NAME=medusa-v2
MEDUSA_POSTGRES_URL=
MEDUSA_BACKEND_URL=http://localhost:9000
MEDUSA_ADMIN_PORT=9000

# Sanity Configuration
SANITY_API_TOKEN=
SANITY_PROJECT_ID=
SANITY_STUDIO_URL=http://localhost:3333
SANITY_API_VERSION=
