STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
POSTGRES_URL=
MEDUSA_BACKEND_URL=http://localhost:9000 #Necessary for server-side Medusa config
VITE_MEDUSA_BACKEND_URL=http://localhost:9000 #Necessary for Admin UI
PORT=9000

# Algolia
ALGOLIA_APP_ID=your-algolia-app-id
ALGOLIA_API_KEY=your-algolia-admin-api-key # Important: This is the Admin API Key, not the Search API Key
ALGOLIA_PRODUCT_INDEX_NAME=your-product-index-name

# medusa-plugin-shopify env
SHOPIFY_BASE_URL=