MEDUSA_API_URL=http://localhost:9000
MEDUSA_PUBLISHABLE_KEY=pk_your_publishable_key_here
PORT=4000

# Apollo Studio Configuration
APOLLO_GRAPH_REF=""
APOLLO_GRAPH_ROUTING_URL=
APOLLO_SUBGRAPH_NAME=
BFF_URL=http://localhost:4000/graphql

CORS_ORIGINS=http://localhost:8000,https://your-vercel-app.vercel.app

# Sanity Configuration
SANITY_PROJECT_ID=your-project-id
SANITY_DATASET=production
SANITY_API_VERSION=2023-05-03
SANITY_API_TOKEN=

ALGOLIA_APP_ID=""
ALGOLIA_API_KEY=""
ALGOLIA_PRODUCT_INDEX_NAME=""
