name: UI Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      # Make sure to grab the latest version of the Playwright image
      # https://playwright.dev/docs/docker#pull-the-image
      image: mcr.microsoft.com/playwright:v1.56.1-noble
    env:
      NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY }}
      NEXT_PUBLIC_MEDUSA_BACKEND_URL: http://localhost:9000
      NEXT_PUBLIC_BASE_URL: http://localhost:8000
      NEXT_PUBLIC_DEFAULT_REGION: us
      NEXT_PUBLIC_STRIPE_KEY: pk_test
      NEXT_PUBLIC_BFF_URL: http://localhost:4000/graphql
      REVALIDATE_SECRET: supersecret
      API_GRAPHQL_CORS: http://localhost:8000,http://localhost:6006
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.18.2

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Storybook tests in medusa-storefront
        run: pnpm --filter medusa-storefront run test-storybook
